/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



/* First Page index.html */

/* Top Nav Section */

a {
	text-decoration: none;
}

.NavClass {
	display: flex;
	justify-content: space-between;
	padding: 3%;
}

.NavLinksClass {
	display: flex;
	justify-content: space-between;
	width: 60%;
	padding: 1%;
	align-content: center;	
	margin-left: 1%;
	margin-right: 1%;
}

.NavLinksClass a {
	
	align-content: center;
	color: dimgray;
}





/* Header containing Innovation on Demand, Get Started, 
and the circle photo */



h1 {
	font-size: 70px;
}

.innovationBoxSecion {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 8%;
	margin-top: 4%;
}


.titleDivClass {
	text-align: center;
}

#circlePhotoTopID {
	width: 37%;
}

#getStartedBoxID {
	border: 2px solid black;
	padding: 8px;
	width: 180px;
	margin-left: 52px;
}

/* Top Text Section for Features and About */

.topSectionClass {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 8%;
	margin-top: 1%;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 8%;
	border-top: 2px solid black;
}

.featuresDivClass, .aboutDivClass {
	width: 48%;
}

/* Middle Rectangle Image with code */


.middle-img {
	width: 92%;
	margin-left: 4%;	
}

/* Bottom Text Section for Services, Product, and Vision */


.bottomSectionClass {
	display: flex;
	justify-content: space-between;
	padding-bottom: 8%;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 8%;
	margin-bottom: 4%;
	border-bottom: 2px solid black;
}

.servicesDivClass, .productDivClass, .visionDivClass {
	width: 30%;
}

/* Contact Section */


.contactSectionClass {
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 8%;
	margin-bottom: 8%;
}

#phoneID {
	margin-top: 12px;
	margin-bottom: 12px;
}


/* Footer */

footer {
	text-align: center;
	padding-bottom: 2%;
	margin-bottom: 4%;
}

/* Services Page services.html */

.services-header-img {
	margin: 4%;
    margin-top: 2%;
    width: 92%;
}

.servicesHeaderClass {
	display: flex;
	margin: 4%;
	margin-bottom: 6%;
	border-bottom: 2px solid black;
	padding-bottom: 6%;
	font-size: 18px;
}

.servicesHeaderDivClass {
	display: flex;
	flex-direction: column;
}



/* 2 Column 6 Box Section */

.twoColumn6BoxSectionClass {
	display: flex;
	height: 95%;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-evenly;
	align-content: space-between;
	margin: 1%;
	margin-bottom: 7%;
}

.twoColumn6BoxSectionClass div {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 46%;
	box-sizing: border-box;
	align-items: flex-start;
	padding: 2%;
	background-color:rgb(235, 235, 235);
}

.twoColumn6BoxSectionClass button {
	margin-top: 6%;
}

.bottomSectionWithPhoto {
	display: flex;
	justify-content: space-around;
	padding-top: 6%;
	padding-bottom: 8%;
	margin-left: 4%;
	margin-right: 4%;
	flex-direction: row;
	border-top: 2px solid black;	
}

/* Bottom Facts Section with Photo */

.services-info-img {
	width: 48%;
	height: 48%;
}

.bottomSectionWithoutPhoto {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-right: 10%;
}


.bullet li {
	list-style-type: square;
	
}

.bullet {
	box-sizing: border-box;
	padding-left: 7%;
	padding-top: 3%;
}


/* Media Queries for Responsive Design */

/* Tablet Responive Section 800px Max Width */


@media (max-width: 800px){
.NavClass {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}
.NavLinksClass {
    justify-content: space-between;
    width: 99%;
    margin: 3%;
}
.innovationBoxSecion {
    margin-top: 2%;
}

.innovationBoxSecion img {
    display: none;
}

.topSectionClass {
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 3%;
}

.bottomSectionClass {
    padding-top: 2%;
    margin-top: 2%;
    padding-bottom: 5%;
}

.contactSectionClass {
    margin-top: 4%;
    margin-bottom: 3%;
}

footer {
    margin-top: 1%;
}
/* services 800px max width */

.services-header-img {
    display: none;
}

.services-header-img-tablet {
    background-image: url('../img/services-header-tablet-size.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 92%;
    margin-left: 4%;    
}

}

/* Mobile Responive Section 500px Max Width */


@media (max-width: 500px){
.NavLinksClass {
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

.NavClass a {
    padding-bottom: 3%;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}

.innovationBoxSecion {
    margin-bottom: 12%;
}

.topSectionClass {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    height: 44vh;
}

.featuresDivClass, .aboutDivClass {
    width: 95%;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-left: 0%;
}

.bottomSectionClass {
    flex-direction: column;
    padding-top: 4%;
    height: 65vh;
    width: 90%;
}

.servicesDivClass, .productDivClass, .visionDivClass {
	width: 95%;
}

.contactSectionClass {
    margin-top: 6%;
}

footer {
    padding-top: 4%;
}

/* services page mobile sizing */

.services-header-img-tablet {
    display:none;
}

.services-header-img-mobile {
    background-image: url('../img/services-header-tablet-size.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 2%;
}

.servicesHeaderClass {
    margin-top: 2%;
}

.twoColumn6BoxSectionClass {
    flex-direction: column;
}

.twoColumn6BoxSectionClass div {
    width: 94%;
    margin-left: 3%;
    margin-bottom: 4%;
}

.twoColumn6BoxSectionClass div {
    align-items: center;
}

.twoColumn6BoxSectionClass button {
    padding: 2% 18%;
    font-size: 15px;
    margin-bottom: 2%;
    margin-top: 4%;
}

.services-info-img {
    display: none;
}

}